@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.layout {
    min-height: 100vh;
    @include flex-column;
}

.main {
    flex: 1;
    padding-top: $spacing-12;
    padding-bottom: $spacing-12;

    @include tablet-up {
        padding-top: $spacing-16;
        padding-bottom: $spacing-16;
    }

    @include desktop-up {
        padding-top: $spacing-20;
        padding-bottom: $spacing-20;
    }
}
